:root {
    --bg-color: #dbd7d2;
    --font-color: #333;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: black;
        --font-color: #dbd7d2;
    }
}


html, body {
    margin: 0;
    background-color: var(--bg-color);
}

body, body > * {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Ubuntu, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-weight: bolder;
}

.header {
    margin-top: 42%;
    margin-bottom: 8px;
}

.subheader {
    font-weight: bolder;
    font-size: 16px;
    margin-bottom: 14px;
}

.content {
    color: var(--font-color);
    padding: 0 24px;
    display: inline-block;
}
