body{
	font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
	background-color: #2d4065;
	text-align: center;
	background-image: url(http://www.wallmay.net/thumbnails/detail/20120802/cityscapes%20new%20york%20city%201920x1080%20wallpaper_www.wallmay.com_86.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: 100%;
}

.topbar{
	text-align: center;
	display: inline-block;
	background-color: #7183a7;
	margin: 10 auto;
	padding: 10px;
	width: 30%;
}
.center{
	background-color: #7183a7; 
	text-align: center;
	padding: 10px;
	word-wrap: break-word;
	width: 50%;
	margin: 10 auto;
	height: auto;
}

#resume{
	text-align: center;
	padding: 20px;
	background-color: #7183a7;
	width: 650;
	margin: 0 auto;
	margin-bottom: 20px;
}

#page2{
	text-align: middle;
}

#top{
	background-color: #7183a7;
	text-align: center;
	width: 700;
	margin: 20px auto;
	height: auto;
	display: inline-block;
}

#pic{
	opacity: 0.88;
	margin: 0 auto;
}

li{
	margin: 5px;
	list-style-type: none;
	display: inline-block;
}

div{
	opacity: 0.95;
}


